body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden; /* Empêche le défilement */
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

#drawing-container {
    padding-left: 1em;
    padding-top: 1em;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    padding-right: 2%;
    box-sizing: border-box;
}

#container-1, #container-2, #container-3 {
    width: 100%;
    margin-bottom: 10px;
}

#container-1, #container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#chat-container {
    padding-right: 1em;
    padding-top: 1em;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    padding-left: 2%;
    box-sizing: border-box;
}

#drawing-canvas {
    width: 100%;
    height: calc(70vh - 20px); /* Ajuste la hauteur pour tenir dans l'écran avec un espace en bas */
    border: 1px solid #000;
    cursor: crosshair;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box; /* Inclut les bordures et le padding dans la taille de l'élément */
}


#chat {
    height: 80%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#message {
    width: 100%;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
